version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-microservices
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Harbang@79
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    restart: always
    env_file:
      - ./user-service/.env.docker
    environment:
      DATABASE_URL: mysql://root:Harbang@79@mysql:3306/user_service
      JWT_SECRET: super-secret-yang-sama
      PORT: 3001
    depends_on:
      - mysql
    ports:
      - "3001:3001"

  talikuat-service:
    build:
      context: ./talikuat-service
      dockerfile: Dockerfile
    container_name: talikuat-service
    restart: always
    env_file:
      - ./talikuat-service/.env.docker
    environment:
      DATABASE_URL: mysql://root:Harbang@79@mysql:3306/talikuat_service
      PORT: 3002
    depends_on:
      - mysql
    ports:
      - "3002:3002"

  pemeliharan-service:
    build:
      context: ./pemeliharan-service
      dockerfile: Dockerfile
    container_name: pemeliharan-service
    restart: always
    env_file:
      - ./pemeliharan-service/.env.docker
    environment:
      DATABASE_URL: mysql://root:Harbang@79@mysql:3306/pemeliharan_service
      PORT: 3003
    depends_on:
      - mysql
    ports:
      - "3003:3003"

  laporan-service:
    build:
      context: ./laporan-service
      dockerfile: Dockerfile
    container_name: laporan-service
    restart: always
    env_file:
      - ./laporan-service/.env.docker
    environment:
      DATABASE_URL: mysql://root:Harbang@79@mysql:3306/laporan_service
      PORT: 3004
    depends_on:
      - mysql
    ports:
      - "3004:3004"

  gateway-service:
    build:
      context: ./dashboard-service
      dockerfile: Dockerfile
    container_name: gateway-service
    restart: always
    env_file:
      - ./dashboard-service/.env.docker
    environment:
      PORT: 3000
      JWT_SECRET: super-secret-yang-sama
      USER_SERVICE_URL: http://user-service:3001
      TALIKUAT_SERVICE_URL: http://talikuat-service:3002
      PEMELIHARAN_SERVICE_URL: http://pemeliharan-service:3003
      LAPORAN_SERVICE_URL: http://laporan-service:3004
    depends_on:
      - user-service
      - talikuat-service
      - pemeliharan-service
      - laporan-service
    ports:
      - "3000:3000"

volumes:
  mysql-data:
