services:
  mysql:
    image: mysql:8.0
    container_name: mysql-microservices
    environment:
      MYSQL_ROOT_PASSWORD: Harbang@79
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    env_file:
      - ./user-service/.env.docker
    environment:
      DATABASE_URL: mysql://root:Harbang%4079@mysql:3306/user_service
      JWT_SECRET: super-secret-yang-sama
      DATABASE_USER: root
      DATABASE_PASSWORD: Harbang@79
      DATABASE_NAME: user_service
      DATABASE_HOST: mysql
      DATABASE_PORT: 3306
      PORT: 3001
    depends_on:
      - mysql
    ports:
      - "3001:3001"

  talikuat-service:
    build:
      context: ./talikuat-service
      dockerfile: Dockerfile
    container_name: talikuat-service
    env_file:
      - ./talikuat-service/.env.docker
    environment:
      DATABASE_URL: mysql://root:Harbang%4079@mysql:3306/talikuat_service
      JWT_SECRET: super-secret-yang-sama
      DATABASE_USER: root
      DATABASE_PASSWORD: Harbang@79
      DATABASE_NAME: talikuat_service
      DATABASE_HOST: mysql
      DATABASE_PORT: 3306
      PORT: 3002
    depends_on:
      - mysql
    ports:
      - "3002:3002"

  pemeliharan-service:
    build:
      context: ./pemeliharan-service
      dockerfile: Dockerfile
    container_name: pemeliharan-service
    env_file:
      - ./pemeliharan-service/.env.docker
    environment:
      DATABASE_URL: mysql://root:Harbang%4079@mysql:3306/pemeliharan_service
      JWT_SECRET: super-secret-yang-sama
      DATABASE_USER: root
      DATABASE_PASSWORD: Harbang@79
      DATABASE_NAME: pemeliharan_service
      DATABASE_HOST: mysql
      DATABASE_PORT: 3306
      PORT: 3003
    depends_on:
      - mysql
    ports:
      - "3003:3003"

  laporan-service:
    build:
      context: ./laporan-service
      dockerfile: Dockerfile
    container_name: laporan-service
    env_file:
      - ./laporan-service/.env.docker
    environment:
      DATABASE_URL: mysql://root:Harbang%4079@mysql:3306/laporan_service
      JWT_SECRET: super-secret-yang-sama
      DATABASE_USER: root
      DATABASE_PASSWORD: Harbang@79
      DATABASE_NAME: laporan_service
      DATABASE_HOST: mysql
      DATABASE_PORT: 3306
      PORT: 3004
    depends_on:
      - mysql
    ports:
      - "3004:3004"

  rumija-service:
    build:
      context: ./rumija-service
      dockerfile: Dockerfile
    container_name: rumija-service
    env_file:
      - ./rumija-service/.env.docker
    environment:
      DATABASE_URL: mysql://root:Harbang%4079@mysql:3306/rumija_service
      JWT_SECRET: super-secret-yang-sama
      DATABASE_USER: root
      DATABASE_PASSWORD: Harbang@79
      DATABASE_NAME: rumija_service
      DATABASE_HOST: mysql
      DATABASE_PORT: 3306
      PORT: 3005
    depends_on:
      - mysql
    ports:
      - "3005:3005"

  dashboard-service:
    build:
      context: ./dashboard-service
      dockerfile: Dockerfile
    container_name: dashboard-service
    env_file:
      - ./dashboard-service/.env.docker
    environment:
      PORT: 3000
      DATABASE_USER: root
      DATABASE_PASSWORD: Harbang@79
      DATABASE_NAME: dashboard_service
      DATABASE_HOST: mysql
      DATABASE_PORT: 3306
      JWT_SECRET: super-secret-yang-sama
      USER_SERVICE_URL: http://user-service:3001
      TALIKUAT_SERVICE_URL: http://talikuat-service:3002
      PEMELIHARAN_SERVICE_URL: http://pemeliharan-service:3003
      LAPORAN_SERVICE_URL: http://laporan-service:3004
      RUMIJA_SERVICE_URL: http://rumija-service:3005
    depends_on:
      - user-service
      - talikuat-service
      - pemeliharan-service
      - laporan-service
      - rumija-service
    ports:
      - "3000:3000"

volumes:
  mysql-data:
